
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h3>Clienti</h3>
    @Html.ActionLink("Lista Clienti", "Index", "Cliente")
    @Html.ActionLink("Aggiungi Cliente", "Create", "Cliente")
</div>

<div>
    <h3>Spedizioni</h3>
    @Html.ActionLink("Registra Spedizione", "Create", "Spedizione")
    @Html.ActionLink("Lista Spedizioni", "Index", "Spedizione")   
</div>

<div>
    <h3>Aggiornamenti Spedizione</h3>
    @Html.ActionLink("Registra Aggiornamento", "Create", "AggiornamentoSpedizione")
    @Html.ActionLink("Spedizioni In Transito", "Index", "AggiornamentoSpedizione")
</div>